@import "tailwindcss";
/* index.css */

:root {
  font-family:   Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body{
  overflow-x: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Add to your CSS */
.slick-prev:before, 
.slick-next:before {
  color: white; /* Or your preferred color */
  font-size: 24px;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}
